logs
*.class
*.settings
build
bin
*.idea
*.iml
*.classpath
*.project
target
*RemoteSystemsTempFiles
*.metadata
*.recommenders
*.bin
*.lock
.mvn
maven-wrapper.properties
mvnw
mvnw.cmd

# Package Files #
*.jar
*.war
*.ear
.springBeans